@model LingWo.Models.Article

@{
    ViewBag.Title = "Edit";
}

<!-- Content Wrapper. Contains page content -->
<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">Խմբագրել լուրը</h3>
    </div>
    <form asp-controller="News" asp-action="Edit" method="post">
        <div class="card-body">
            <input type="hidden" name="id" value="@Model.Id">
            <div class="form-group">
                <label for="title">Վերնագիր</label>
                <input type="text" class="form-control" id="title" name="title" placeholder="Enter Title" value="@Model.Title" required>
            </div>
            <div class="form-group">
                <label for="link">Հղում</label>
                <input type="text" value="@Model.Link" class="form-control" id="link" name="link" placeholder="Enter Link" required>
            </div>
            <div class="form-group">
                <label for="thumbnail">Կրճատ նկարագրություն</label>
                <input type="text" value="@Model.Thumbnail" class="form-control" id="thumbnail" name="thumbnail" placeholder="Enter Thumbnail"
                    required>
            </div>
            <div class="form-group">
                <label for="uploadDate">Ամսաթիվ</label>
                <input type="date" class="form-control" id="uploadDate" name="uploadDate" required>
            </div>
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>

@section scripts {
    <script type="text/javascript">

        @* $(".products-tokenizer").select2({
        tags: true,
        tokenSeparators: [',', ' ']
        }) *@

    </script>
}
